
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  
}
.outerDiv{
   width: 100%;
  height: 100vh;
  background-color: #4aacb1;
}  
.innerDiv{
  max-width: 1320px;
  margin: auto;
  margin-left: 50px;
  
}

.innerDiv h1{
  font-size: 40px;
  font-weight: bold;
  padding-top: 50px;
  color: white;
}
.innerDiv form{
  margin-top: 20px;
}

.innerDiv form input{
  width: 300px;
  height: 40px;
  padding-left: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.innerDiv form .btn{
  width: 100px;
  height: 40px;
  background-color: #03797f;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
   border-radius: 5px;
}
.innerDiv2{
  width: 400px;
  margin:auto ;
  background: white;
  margin-top: 40px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(60, 60, 69, 0.581);
  position: relative;
   border-radius: 5px;
  }
.innerDiv2 h3{
  font-weight: bold;
  font-size: 30px;
}
.innerDiv2 span{
  background-color: yellow;
}
.innerDiv2 h2{
  font-weight: bold;
  font-size: 40px;
}
.gif{
  position: absolute;
  width: 30px;
  right:30px;
  visibility: hidden;
  
}
.activeGif{
  position: absolute;
  width: 30px;
  right:30px;
  visibility: visible;
}

